# Ignore local node modules and some artifacts to keep Docker build context small
node_modules
.git
.env
.DS_Store
npm-debug.log
dist
dev
test-results
public/oras-sky-engine/skydata
public/oras-sky-engine/js/*.map
