# Ignore local node modules and some artifacts to keep Docker build context small
node_modules
.git
.env
.DS_Store
npm-debug.log
dist
dev
test-results
public/oras-sky-engine/skydata
public/oras-sky-engine/skydata/catalog-packs
public/oras-sky-engine/skydata/dense-star-tiles
public/oras-sky-engine/skydata/tle_satellite.jsonl.gz
public/oras-sky-engine/js/*.map
